<header>
  <h1>Analytics Interceptor</h1>
  <div class="toolbox">
    {{#if enabled}}
      <button id="intercept" class="toolbox-button" value="off">Disable</button>
    {{else}}
      <button id="intercept" class="toolbox-button" value="on">Enable</button>
    {{/if}}
    <button id="clear" class="toolbox-button">Clear</button>
  </div>
</header>

<ul class="event-list">

</ul>
